#version=CENTOS 7
install
cdrom
lang zh_CN.UTF-8
keyboard --vckeymap=us --xlayouts='us'
eula --agreed
services --enabled=sshd,NetworkManger
reboot --eject


auth --enableshadow --passalgo=sha512
selinux --disabled
firewall --disabled
#repo --name="CentOS" --baseurl=cdrom:sr0 --cost=100
timezone Asia/Shanghai  --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
autopart
network --bootproto=dhcp --device=eth0 --hostname=os-easy 

#root password 
rootpw oseasy
user --name=os-easy --password=oseasy

%packages
@core
#mariadb-server
#httpd
#vsftpd
#mod_wsgi
#python-tornado
#python-django
#wol
#mesa-libGL
#mesa-libGLU
#tk
#wxGTK
#rabbitmq-server
#gcc
#dejavu-fonts-common
#dejavu-sans-mono-fonts
#dracut
#kernel
#kernel-devel
#kernel-headers
#mpfr
#rrdtool
#vim
#python-devel
#rsync
#gpm-libs
#jbigkit-libs
#libgnome-keyring
#perl-TermReadKey
#perl-Error
#p7zip-plugins
#dmraid
#epel-release
#nginx
%end
 
#%post --nochroot
# change interface to eth0
#sed -i "s/quiet/quiet net.ifnames=0 biosdevname=0/g" /mnt/sysimage/etc/default/grub
#sed -i "s/CentOS Linux 7 (Core)/Baode 4.2.0 Release/g" /mnt/sysimage/etc/os-release
#echo "Baode 4.2.0 Release" > /mnt/sysimage/etc/centos-release
#sed -i "s/GRUB_TIMEOUT=5/GRUB_TIMEOUT=3/" /mnt/sysimage/etc/default/grub
#mount -o bind /dev /mnt/sysimage/dev
#/usr/sbin/chroot /mnt/sysimage /sbin/grub2-mkconfig -o /boot/grub2/grub.cfg
#umount /mnt/sysimage/dev
#%end

#%post --nochroot --erroronfail
#cd /run/install/repo/setup
#sh install.sh cn > /mnt/sysimage/install.log
#%end

%post --nochroot 
echo "E-VDI 4.2.0 Release" > /mnt/sysimage/etc/fedora-release
sed -i "s/GRUB_TIMEOUT=5/GRUB_TIMEOUT=3/" /mnt/sysimage/etc/default/grub
mount -o bind /dev /mnt/sysimage/dev
/usr/sbin/chroot /mnt/sysimage /sbin/grub2-mkconfig -o /boot/grub2/grub.cfg
umount /mnt/sysimage/dev
%end
